
<h1 class="page-header">Team Details</h1>

        <div class="panel panel-default"  ng-controller="TeamCCtrl">
            <div class="panel-heading">
                List of Teams
            </div>
            <!-- /.panel-heading -->

            <div class="panel-body">
                <div class="row">
                    <div class="form-group input-group">
                        <input type="search" class="form-control " placeholder=" ">
                        <span class="input-group-btn">
                                           <button class="btn btn-default" type="button"><i class="fa fa-search"></i> </button>
                                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th> Name</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="" ng-repeat=" t in teams">
                                <td> {{ t.id_team}} </td>
                                <td> {{t.name}} </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>


    <!-- / -->

