 <h1 class="page-header">Project Management</h1>


 <!-- /.row -->
 <div class="row" ng-controller="ProjectMCtrl">
     <div class="col-lg-12">
         <div class="panel panel-default">
             <div class="panel-heading"> List of Project </div>
             <!-- /.panel-heading -->
             <div class="panel-body">
                 <!-- Tab panes -->
                 <div class="tab-content">
                     <div class="tab-pane fade active in" id="variables">
                         <p>
                         <div class="row">
                             <div class="col-sm-6">
                                 <div class="dataTables_length" id="dataTables-example_length">
                                     <label>Show
                                         <select name="dataTables-example_length" aria-controls="dataTables-example" class=		                                            "form-control input-sm">
                                             <option value="10">10</option>
                                             <option value="25">25</option
                                             >
                                             <option value="50">50</option>
                                             <option value="100">100</option>
                                         </select>
                                     </label>
                                 </div>
                             </div>
                             <div class="col-sm-6">
                                 <div id="dataTables-example_filter" class="dataTables_filter">
                                     <label>Search:
                                         <input type="search" class="form-control input-sm" placeholder="Project Name" 				                                                aria-controls="dataTables-example">
                                     </label>
                                 </div>
                             </div>
                         </div>
                         </p>
                     </div>

                     <div  class="row">
                         <div class="col-sm-12">
                             <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                 <thead>
                                 <tr>
                                     <th>#</th>
                                     <th>Name</th>
                                     <th>Version</th>
                                     <th>State </th>
                                     <th>Coordinator </th>
                                     <th>Team </th>
                                     <th>Start Date</th>
                                     <th>End Date</th>
                                     <th> </th>

                                 </tr>
                                 </thead>
                                 <tbody>
                                 <tr class="" ng-repeat="project in projects">
                                     <td> {{ project.id_project}} </td>
                                     <td> {{project.name}} </td>
                                     <td> {{ project.version}} </td>
                                     <td> {{ project.state}} </td>
                                     <td> - </td>
                                     <td> - </td>
                                     <td class="center"> {{project.start_date}} </td>
                                     <td class="center"> {{project.end_date}} </td>
                                     <td class="center">
                                         <p>

                                         <button ng-click="editProject(this.project)" type="button" class="btn btn-default btn-circle btn-sm"><i class="fa fa-edit"></i> </button>
                                         <button type="button" ng-click="deleteProject(project.id_project)" class="btn btn-default btn-circle btn-sm"><i class="fa fa-trash-o"></i> </button>
                                         </p>
                                    </td>
                                 </tr>
                                 </tbody>
                             </table>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-sm-6">
                             <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                 <ul class="pagination">
                                     <li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous"> <a href="#">Previous</a> </li>
                                     <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0"> <a href="#">1</a> </li>
                                     <li class="paginate_button " aria-controls="dataTables-example" tabindex="0"> <a href="#">2</a> </li>
                                     <li class="paginate_button " aria-controls="dataTables-example" tabindex="0"> <a href="#">3</a> </li>
                                     <li class="paginate_button " aria-controls="dataTables-example" tabindex="0"> <a href="#">4</a> </li>
                                     <li class="paginate_button " aria-controls="dataTables-example" tabindex="0"> <a href="#">5</a> </li>
                                     <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next"> <a href="#">Next</a> </li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-sm-12">
                             <p>
                                 <button type="button" ui-sref="NewProject "class="btn btn-default btn-circle btn-lg"> <i class="fa fa-plus"></i> </button>


                             </p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>



